<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a Home page 1 + 2</h1>
    <h3><%=["Shivam","Ayushi","Anjali"][0]  %></h3>
    <h3><%= "apnacollege".toUpperCase() %></h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, itaque sed. Molestias dolorum accusantium amet ad consectetur vitae, cumque excepturi quod, dignissimos recusandae ipsum laboriosam dolore eum in deserunt adipisci?</p>

    <button>ckick me!</button>
</body>
</html>